<h1>Information about <%= @trip.name %></h1>
<p>Total trail length: <%= @trip.trails.sum(:length) %></p>
<p>Average trail length: <%= @trip.trails.average(:length) %></p>
<p>Longest Trail on Trip: <%= @trip.trails.order(:length).last.name %></p>
<br>
<h3>Trails</h3>
<% @trip.trails.each do |trail| %>
<h4>Trail name: <%= trail.name %></h4>
<p>Address: <%= trail.address %></p>
<p>Length: <%= trail.length %></p>
<% end %>
